
<!doctype html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta http-equiv="x-ua-compatible" content="ie=edge">
 <meta name="description" content="">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Dashboard</title>
 <script src="//bensmithett.github.io/dragster/lib/dragster.js"></script>
 <style>
 .no-display {
  display: none !important;
 }
 button {
  cursor: pointer;
 }
 body {
  font-family: 'Times New Roman', Times, serif;
  color: black;
  background-color: rgb(153, 204, 255);
 }
 .board {
  display: flex;
 }
 .column {
  color: #4d4d4d;
  width: 270px;
  background-color: #E2E4E6;
  border-radius: 3px;
  padding: 10px;
  margin-right: 10px;
 }
 .column > h3 {
  margin: 0 0 10px 0;
 }
 .card, .new-card {
  display: block;
  background-color: white;
  border-radius: 3px;
  padding: 8px;
  margin-bottom: 8px;
 }
 .card {
  color: inherit;
  text-decoration: inherit;
 }
 .new-card {
  border: none;
  resize: none;
  width: 100%;
  box-sizing: border-box;
 }
 .show-new-card {
  color: #8c8c8c;
  font-size: 14px;
  background: none;
  border: none;
  display: block;
  text-align: left;
  cursor: pointer;
  width: 100%;
 }
 .show-new-card:hover {
  color: #4d4d4d;
  background-color: #cc9999;
  text-decoration: underline;
 }
 .moving-card {
  cursor: -webkit-grabbing;
  transform: rotate(1deg);
 }
 .column.dropme {
  background-color: #a9a9a9;
 }
 </style>
</head>
<meta http-equiv=”refresh” content=”5" >
<body>
 {% block content %}{% endblock %}

 <h1>Dashboard</h1>
 <h1>Busqueda</h1>
  <form action="." method="GET">
    <label for="q">Buscar: </label>
    <input type="text" name="q" value="{{ query|escape }}">
    <input type="submit" value="Buscar">
  </form>
 
 {% for  proyecto in proyectos %}
 <div class="proyecto" data-proyecto-id="{{ proyecto.codigo }}">
  {% for board in proyecto.projects.all %}
  <h2>{{ board.name }}</h2>
  <div class="board">

  {% for column in board.columns.all %}
  <div class="column"  data-column-id="{{ column.id }}">
   <h3>{{ column.title }}</h3>

   {% for card in column.cards.all %}
   <a class="card" draggable="true" data-card-id="{{ card.id }}" 
   href="/Metodologia/MetodoAgil/card/{{card.id}}/">{{ card.title }}</a>
   {% endfor %}

   <form action="/new-card/" method="POST">
    {% csrf_token %}
    <input type="hidden" name="column_id" value="{{ column.id }}" />
    <input type="text" name="title" class="new-card no-display" data-column-id="{{ column.id }}" />
   </form>
   <button class="show-new-card" data-column-id="{{ column.id }}">Add a card…</button>
  </div>
  {% endfor %}
 </div>
 {% empty %}
 <p><em>No boards created yet!</em></p>
 {% endfor %}
 {% endfor %}
 <p><b><a href="/admin/">Regresar al panel de control</a></b></p>
 <script>
function refresh(t){
  setTimeout('location.reload(true)',t);
} 
function parse_cookies() {
   var cookies = {};
   if (document.cookie && document.cookie !== '') {
    document.cookie.split(';').forEach(function (c) {
     var m = c.trim().match(/(\w+)=(.*)/);
     if(m !== undefined) {
      cookies[m[1]] = decodeURIComponent(m[2]);
     }
    });
   }
   return cookies;
  }
  const cookies = parse_cookies();

  for (button of document.getElementsByClassName('show-new-card')) {
   button.addEventListener('click', e => {
    const newCard = document.querySelector('.new-card[data-column-id="' + e.currentTarget.dataset.columnId + '"]');
    newCard.classList.remove('no-display');
    e.currentTarget.classList.add('no-display');
    newCard.focus();
   });
  }

  for (card of document.getElementsByClassName('card')) {
   card.addEventListener('dragstart', e => {
    e.dataTransfer.setData('Text', e.currentTarget.dataset.cardId);
   });
  }

  for (element of document.getElementsByClassName('column')) {
   new Dragster(element);
   element.addEventListener('dragover', e => {
    if (e.preventDefault) e.preventDefault();
   });
   element.addEventListener('dragster:enter', e => {
    e.currentTarget.classList.add('dropme')
   });
   element.addEventListener('dragster:leave', e => {
    e.currentTarget.classList.remove('dropme')
   });
   element.addEventListener('drop', e => {
    e.currentTarget.classList.remove('dropme')
    const postData = JSON.stringify({
     'column_id': e.currentTarget.dataset.columnId,
     'card_id': e.dataTransfer.getData('Text'),
    });

    fetch('/drop/', {
     credentials: 'same-origin',
     method: 'post',
     headers: {
      'X-CSRFToken': cookies['csrftoken'],
     },
     body: postData,
    }).then(response => {
     if (response.ok) {
      window.location = window.location.href;
    } else {
      alert('Error! ' + response.statusText);
     }
    });

   });
  }
 </script>

</body>
</html>
