<!-- templates/registration/password_reset_done.html -->
{% extends 'base.html' %}

{% block title %}Email enviado{% endblock %}

{% block content %}
  <h1>Revisa tu bandeja de entrada.</h1>
  <p>Hemos enviado un email con instrucciones para que recuperes tu contraseña. Deberias de recibir el email en breve!</p>
{% endblock %}