<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}

{% block title %}Ingresa nueva contraseña{% endblock %}

{% block content %}
<h1>Ingresa tu nueva contraseña!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Cambia tu contraseña">
</form>
{% endblock %}